button {
    outline: none !important;
}

/*Company info*/
#company_info {
}

#company_info form {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#company_info label {
    font-size: 21px;
    margin-bottom: 10px;
}
#company_info label.c1 {
    width: 100%;
}
#company_info label.c2 {
    width: calc(50% - 15px);
}

#company_info input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #545454;
    font-size: 16px;
    padding: 7px 5px 3px;
    background: transparent;
    box-sizing: border-box;
}

#company_info textarea {
    min-width: 100%;
    max-width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #545454;
    min-height: 60px;
    font-size: 16px;
    padding: 7px 5px 3px;
    background: transparent;
    box-sizing: border-box;
}

#company_info hr {
    width: 100%;
    margin: 10px 0 15px;
}

#company_info button {
    width: calc(50% - 15px);
    box-sizing: border-box;
    border: 2px solid #545454;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    transition: background 0.5s ease 0s;
}
#company_info button:hover {
    background: #ffffff;
    transition: background 0.5s ease 0s;
}