form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    margin: 0 0 20px 0;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form-row {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.w1-2 {
    width: calc(100%/2 - 10px);
}
.w1-3 {
    width: calc(100%/3 - 10px);
}
.w1-4 {
    width: calc(100%/4 - 10px);
}

.c1 {
    display: block;
    width: 100%;
    font-weight: 600;
}

.c2 {
    display: block;
    width: 100%;
    color: #495057;
    margin: 5px 0;
    line-height: 24px;
    font-size: 16px;
    padding: 9px 14px;
    height: 45px;
    border: 1px solid #ccd1d9;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    height: 90px !important;
    resize: none;
}

input:focus,
textarea:focus {
    border-color: #00aeff !important;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12) !important;
}

input:focus + .chars-left,
textarea:focus + .chars-left {
    display: block;
}

.chars-left {
    display: none;
    position: absolute;
    right: 5px;
    font-size: 12px;
}

.form-row.readonly {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}
.form-row.readonly .c1 {
    width: 240px;
    box-sizing: border-box;
    text-align: right;
}
.form-row.readonly .c2 {
    width: calc(100% - 255px);
    margin: 0;
    line-height: unset;
    height: auto;
    box-sizing: border-box;
}

textarea.readonly,
input.readonly {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
textarea.readonly + .chars-left,
input.readonly + .chars-left {
    display: none !important;
    box-shadow: none !important;
}

.ctrl-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    /*margin-top: 30px;*/
}

.ctrl-buttons button {
    cursor: pointer;
    outline: none;
    padding: 8px 25px;
    border-radius: 3px;
    font-size: 16px;
    background: #e4e7ea;
    line-height: 26px;
    border: none;
    margin: 0 15px;
    transition: all 0.3s ease 0s;
}
.ctrl-buttons button:hover {
    transition: all 0.3s ease 0s;
}

#edit_company_info {
    color: #ffffff;
    background-color: #00aeff;
    margin: 0;
}
#update_company_info {
    color: #ffffff;
    background-color: #00bf4f;
}
























